 @import url(" https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
 background-color: rgb(173, 206, 255);
  line-height: 1.4;
}
.father {
  display: grid;
  grid-template-areas:
    "div-1 div-1 div-2 div-5"
    "div-3 div-4 div-4 div-5";
  gap: 24px;
  
}
.div1 {
  grid-area: div-1;
  border-radius: 8px;
  background-color: hsl(263, 55%, 52%);
  color: aliceblue;
  padding: 32px;
}
.div1-img-tex{
    display: flex;
    gap: 10px;
}
.div1-tex-p{
    display: flex;
    flex-direction: column;
}
.div1-texs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img1{
height: 24px;
height: 24px;
border-radius: 50%;
border: 2px solid hsl(264, 82%, 70%);
}
.p1{
    font-size: 13px;
}
.p2{
    font-size: 11px;
    color: hsl(0, 0%, 81%);
}
.h3{
    font-size: 20px;
}
.p3{
    font-size: 13px;
    color: hsl(0, 0%, 81%);
}







.div2 {
  grid-area: div-2;
  background-color: hsl(217, 19%, 35%);
  border-radius: 8px;
  color: aliceblue;
  padding: 32px;
}
.img2{
height: 24px;
height: 24px;
border-radius: 50%;
border: 2px solid hsl(0, 0%, 81%);
}







.div3 {
  grid-area: div-3;
  background-color: white;
  border-radius: 8px;
  color: aliceblue;
  padding: 32px;
}
.p1-2{
    font-size: 13px;
    color: hsl(217, 19%, 35%);
}
.h3-2{
     font-size: 20px;
     color: hsl(217, 19%, 35%);
}


.div4 {
  grid-area: div-4;
}
.div5 {
  grid-area: div-5;
}
